// 首頁區塊設定
.mpSlider {
  margin-bottom: 40px;
  .container {
  }
  .swiper {
    overflow: hidden;
    border-radius: 2.625em;
    box-shadow: 20px 0 0 0 rgba(255, 255, 255, 0.6), -20px 0 0 0 rgba(255, 255, 255, 0.6), 40px 0 0 0 rgba(255, 255, 255, 0.36), -40px 0 0 0 rgba(255, 255, 255, 0.36);
    @media screen and (max-width: $containerMax) {
      margin: 0 20px;
      box-shadow: 10px 0 0 0 rgba(255, 255, 255, 0.6), -10px 0 0 0 rgba(255, 255, 255, 0.6), 20px 0 0 0 rgba(255, 255, 255, 0.36), -20px 0 0 0 rgba(255, 255, 255, 0.36);
    }
  }

  .imgContainer {
    // border-radius: 2.625em;
    // overflow: hidden;
    img {
      object-fit: cover;
      aspect-ratio: 5/2;
    }
  }
}

.adSlider {
  padding: 3% 0 0;
  .swiperBox {
    padding: 0 50px;
  }
}

.archivesMonth {
  position: relative;
  .mainVision {
    padding: 1em 0;
    .container {
      display: flex;
      @include screen('mobile') {
        flex-wrap: wrap;
      }
    }
    .caption {
      margin-bottom: 2em;
      width: 400px;
      max-width: 100%;
      text-align: justify;
      color: #fff;
      text-shadow: 5px 5px 10px $colorLight, -5px -5px 10px $colorLight, 5px -5px 10px $colorLight, -5px 5px 10px $colorLight;
      position: relative;
      z-index: 2;
      //background: $colorLight;
      @include screen('mobile') {
        margin-bottom: 6em;
      }

      .bigTitle {
        font-size: rem(56);
        line-height: 1.5;
        letter-spacing: 0.813rem;
        color: #fff;
        @include screen('xsMobile') {
          letter-spacing: 0.2rem;
        }
      }
      .subTitle {
        font-size: rem(36);
        text-transform: uppercase;
        color: #f3f8be;
        font-weight: bold;
        letter-spacing: 0.25rem;
        line-height: 1.5;
        @include screen('xsMobile') {
          letter-spacing: 0;
        }
      }
      p {
        margin: 0.5em 0;
      }
    }
  }
  .imgBlock {
    position: relative;
    width: calc(100% - 400px);
    flex: 1 1 auto;
    transition: 0.3s;
    @include screen('tablet') {
      transform: scale(0.8);
    }
    @include screen('mobile') {
      transform-origin: right bottom;
      transform: scale(0.5);
      z-index: 1;
      flex-basis: 100%;
      margin-bottom: -20px;
    }
    @include screen('xsMobile') {
      transform-origin: center bottom;
      transform: scale(0.4);
    }
    > img {
      position: absolute;
      @include screen('mobile') {
        //width: 50%;
      }
    }
    .woman02 {
      bottom: 0;
      left: 90px;
    }
    .man02 {
      bottom: -60px;
      left: 280px;
      z-index: 1;
    }
    .woman03 {
      bottom: 20px;
      left: 480px;
    }
    @media screen and (max-width: $containerMax) {
      .woman02 {
        left: 0;
      }
      .man02 {
        left: 190px;
      }
      .woman03 {
        left: 390px;
      }
    }
  }
  .round02 {
    position: absolute;
    right: 68%;
    top: 120px;
    width: 760px;
  }
  .round03 {
    position: absolute;
    left: 70%;
    bottom: -20px;
    width: 700px;
  }
  .mainBanner {
    img {
      aspect-ratio: 4/1;
      object-fit: cover;
    }
    & + .linksGrp {
      margin-top: 2em;
      padding-top: 2em;
      background: url(../images/borderdots.png) repeat-x top left;
      background-size: 120px;
    }
  }
  .linksGrp {
    .mainTitle {
      text-align: center;
      img {
        width: 250px;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 3em 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    li {
      //flex-basis: 20%;
      flex-basis: 150px;
      max-width: 50%;

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: rem(18);
        color: $colorWord;
        font-weight: 500;
        transition: 0.2s ease-in;
        padding: 1em 0.5em;
        border-radius: 10px;
        background-color: #fff;
        img {
          width: 80px;
          max-width: 100%;
          max-height: 80px;
          margin-bottom: 1em;
        }
        &:hover {
          transform: translateY(-2px);
          color: $aHover;
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }
    & + .relatedEvents {
      padding-top: 2em;
      background: url(../images/borderdots.png) repeat-x top left;
      background-size: 120px;
    }
  }
  .relatedEvents {
    .mainTitle {
      text-align: center;
      img {
        width: 130px;
      }
    }
    .flexForm {
      justify-content: center;
      font-size: rem(18);
      color: #5d5d5d;
      margin: 2.5em 0;
    }
    .formGrp {
      margin: 0.5em 1em;
      color: #272011;
      justify-content: center;
      @include screen('xsMobile') {
        margin: 0.5em 0;
        width: 100%;
      }
      & + .formGrp {
        margin-left: 0;
      }
      label {
        margin: 0;
      }
      .tabStyle {
        display: block;
        padding: 0.45em 1.3em;

        cursor: pointer;
        background-color: #fff;
        position: relative;
        //transform: perspective(1px) translateZ(0);
        > span {
          position: relative;
          z-index: 1;
        }
        & + .tabStyle {
          margin-left: -3px;
        }
        input[type='radio'] {
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
          display: block;
          border-radius: 0;
          border: 3px solid #272011;
          width: 100%;
          height: 100%;
          background-color: #fff;
          &:checked,
          &:focus {
            background-color: #272011;
            box-shadow: none;
            //border: none;
            & + span {
              color: #fff;
            }
          }
          &:focus-visible {
            outline: 2px solid $formFocus;
          }
        }
      }

      select {
        padding: 0.4em 2em 0.4em 1em;
        min-width: 120px;
        border-radius: 0;
        border-width: 0 0 2px 0;
        border-color: #272011;
        appearance: none;
        background: url(../images/icon/icon_arrow_down_dark.svg) no-repeat right 0.4em top 50%;
        background-size: 0.95rem;
      }
    }
  }

  & + .main {
    background-position: right -100px top 230px, left -30px top 95px;
    .imgBlock {
      .woman01 {
        top: 10px;
        z-index: 1;
      }
      .man01 {
        top: 15px;
      }
      .spots {
        top: 0;
        opacity: 0.7;
      }
      .round01 {
        top: 200px;
      }
    }
    .webSearch {
      padding: 100px 0;
    }
  }
}

.mapSelect {
  display: flex;
  margin-top: 2em;
  .leftBlock {
    flex-basis: 40%;
  }
  .rightBlock {
    flex-basis: 60%;
  }
  .locationText {
    text-align: center;
    font-size: rem(18);
    margin-bottom: 1em;
  }
  .eventList {
    margin: 0 1em 1em;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include liReset;
    }
    li {
      flex-basis: 48%;
      padding: 0.25em 0;
      border-bottom: 1px dashed #ccc;
      a {
        display: block;
        padding: 0.25em 0;
        color: $colorWord;
        &:hover {
          color: $aColor;
        }
      }
      .title {
        font-size: rem(18);
        margin-bottom: 0.5em;
        font-weight: 600;
      }
      .badge {
        display: inline-block;
        color: #fff;
        font-size: rem(13);
        background-color: $colorPrimary;
        border-radius: 1em;
        padding: 0 0.8em;
        font-weight: normal;
        line-height: 1.5;
        margin: 0 5px;
      }
      p {
        margin: 0;
        font-size: rem(14);
      }
    }
    &.activity {
      li {
        a {
          display: flex;
          .picBox {
            max-width: 15%;
          }
        }
      }
    }
  }
}

.mapCity {
  display: none;
}

.mapCity,
.mapArea {
  svg {
    path {
      stroke: #ffffff;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      box-shadow: none;
    }
    text {
      color: #000;
      text-shadow: 0 0 0.2em #ffffff, 0 0 0.2em #ffffff, 0 0 0.2em #ffffff;
    }
    a:focus,
    a:focus-visible {
      outline: none;
    }
  }
  .st0 {
    fill: #a299ca;
  }
  .st1 {
    fill: #e29e93;
  }
  .st2 {
    fill: #edbc7a;
  }
  .st3 {
    fill: #89c681;
  }
  .st4 {
    fill: #84c0e9;
  }
  a {
    &:hover,
    &.active {
      .st0 {
        fill: #7263b6;
      }
      .st1 {
        fill: #c74c2d;
      }
      .st2 {
        fill: #e37524;
      }
      .st3 {
        fill: #3b8731;
      }
      .st4 {
        fill: #2e7cb0;
      }
    }
    .st0.active {
      fill: #7263b6;
    }
    .st1.active {
      fill: #c74c2d;
    }
    .st2.active {
      fill: #e37524;
    }
    .st3.active {
      fill: #3b8731;
    }
    .st4.active {
      fill: #2e7cb0;
    }
  }

  .st5 {
    font-size: 2rem;
    pointer-events: none;
  }
  .st6 {
    font-size: 1.5rem;
    pointer-events: none;
  }
}

.anchorNav {
  position: fixed;
  top: 50%;
  right: 18px;
  z-index: 100;
  transform: translateY(-50%);
  @media screen and (max-width: 1200px) {
    right: 20px;
  }
  @include screen('mobile') {
    display: none;
  }
  ul {
    @include liReset;
  }
  li {
    //margin-bottom: 5px;
    a {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      font-size: 0;
      transition: all 0.3s;
      transform-origin: 0 right;
      background-color: transparent;
      padding: 3px 32px 3px 16px;
      color: #fff;
      border-radius: 30px;
      &:hover,
      &:focus {
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.5);
      }
      &::before {
        content: '';
        position: absolute;
        top: calc(50% - 8px);
        right: 10px;
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: rgba(#fff, 0.8);
        text-align: center;
        line-height: 20px;
        border: 4px solid $colorPrimary;
      }
    }
  }
}
