:root {
  --dotSize: 12px;
}
.mpSlider {
  .container {
    @media screen and (max-width: $containerMax) {
      padding: 0 10px;
    }
  }
  .caption {
    position: absolute;
    width: 100%;
    height: 3.5em;
    line-height: 3.5em;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0) 100%);
    padding: 0 2em;
    font-size: rem(22);
    font-weight: 500;
    color: #fff;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    letter-spacing: 0.02em;
    @include textOverflow;
    box-sizing: border-box;
    @include screen('mobile') {
      width: 100%;
      height: 2em;
      line-height: 2em;
      left: 0;
      padding: 0 1em;
      font-size: 1rem;
    }
  }
  img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
  }
}
.swiperBox {
  position: relative;
}
.swiper {
  img {
    display: block;
  }
}
.swiperDots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  .swiper-pagination-bullet {
    /* 點的顏色 */
    background: #fff;
    opacity: 0.4;
    width: var(--dotSize);
    height: var(--dotSize);
    border-radius: 0;
    &:hover,
    &:focus-visible {
      opacity: 1;
      /* 點hover的顏色 */
      background: #21baff;
    }
    &:focus-visible {
      opacity: 1;
      /* 點focus的顏色 */
      background: #ff3e4d;
      // box-shadow: 0px 0px 0px 1px #ff3e4d; /* 讓focus過去的點大一些 */
    }
    &.swiper-pagination-bullet-active {
      opacity: 1;
      /* 點 active 的顏色 */
      background: #fff;
      &:focus-visible {
        /* 點 active  focus的顏色 */
        box-shadow: 0 0 2px $colorPrimary;
      }
    }
    &.noFonts {
      font-size: 0;
      margin: 0 12px;
    }
  }
}
.swiperArrow {
  position: absolute;
  cursor: pointer;
  top: 45%;
  transform: translateY(-50%);
  padding: 15px 10px;
  margin: 0;
  border-radius: 0;
  background: transparent;
  border: none;
  z-index: 9;
  &::before {
    content: '';
    width: 40px;
    height: 50px;
    display: block;
    background: url('../vendor/swiper/ar.svg') center no-repeat;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.2));
  }
  &.prevSlider {
    left: 0;
  }
  &.nextSlider {
    right: 0;
    &::before {
      transform: rotate(180deg);
    }
  }
  &.swiperArrow-disabled {
    opacity: 0.65;
  }
}

.eventsSlider {
  margin-bottom: 1em;
  .swiper {
    padding: 5px 10px;
    .swiper-wrapper {
      //flex-flow: column wrap;
      // display: grid;
      // grid-template-rows: 1fr 1fr;
      // grid-auto-flow: column;
      & > div {
        &:first-child {
          //grid-row: 1 / 3;
          .imgContainer {
            flex: 1 1 100%;
            margin-bottom: 0 !important;
          }

          img {
            aspect-ratio: auto;
          }
          .textBox {
            height: 150px;
            .title {
              font-size: rem(20);
              -webkit-line-clamp: 2;
            }
          }
        }
        // &:nth-child(even) {
        //   .imgContainer {
        //     margin-bottom: 30px;
        //   }
        // }
      }
      .swiper-slide {
        display: flex;
        flex-direction: column;
        //margin-top: 0 !important;
        > div:first-child {
          margin-bottom: 30px;
        }
      }
    }
    .imgContainer {
      //margin-bottom: 30px;
      a {
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }
      img {
        aspect-ratio: 3/2;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .textBox {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1em 1.2em;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.5);
        transition: 0.3s ease-in;
        .title {
          color: #fff;
          margin: 0 0 0.5em;
          font-weight: 500;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          max-height: 4.8rem;
          text-overflow: ellipsis;
          line-height: 1.5;
        }
        ul {
          @include liReset;
          font-size: rem(14);
          i {
            margin-right: 5px;
            &:before {
              background-color: #fff;
            }
          }
        }
      }
      &:hover {
        .textBox {
          background-color: rgba(0, 0, 0, 0.3);
          text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
  .swiperArrow {
    &::before {
      content: '';
      mask: url('../vendor/swiper/ar.svg') center no-repeat;
      background: #a6a1a1;
      filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.2));
    }
    &.prevSlider {
      left: -50px;
    }
    &.nextSlider {
      right: -50px;
    }
  }
}

.cpSlider {
  .swiper {
    //margin: 0 40px;
    background: #fff;
    overflow: hidden;
  }
  .swiperArrow {
    &::before {
      mask: url('../vendor/swiper/ar.svg') center no-repeat;
      background: #a6a1a1;
    }
    &.prevSlider {
      left: -40px;
    }
    &.nextSlider {
      right: -40px;
    }
  }

  // h3 {
  //   font-size: 1.5em;
  //   padding: 12px 0px 15px 0px;
  //   margin: 0.5em 0px 1.2em;
  //   border-bottom: 1px solid $colorPrimary;
  // }
  .imgContainer {
    @include aspectRatio(4, 3);
    overflow: hidden;
  }
  .caption {
    padding: 2em 0.85em 0.5em;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0) 100%);
    //background: rgba(0, 0, 0, 0.5);
    color: #fff;
    //bottom: auto;
    //top: 100%;
    bottom: 0;
    transform: translateY(100%);
    left: 0;
    font-size: 1rem;
    width: 100%;
    @include textOverflow;
    transition: 0.3s ease-out;
  }
  a {
    color: #555;
    display: block;
    &:hover,
    &:focus-visible {
      .caption {
        transform: translateY(0);
        //top: 0;
      }
    }
  }
  .swiperArrow {
    padding: 0;
  }
}

.navSlider {
  position: relative;
  .swiper-slide {
    max-height: 180px;
    a {
      position: relative;
      display: block;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.adSlider {
  img {
    width: 100%;
    aspect-ratio: 2/1;
    display: block;
    object-fit: contain;
  }
}
